.flexbox-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.flexbox-container-start {
  display: flex;
  justify-content: start;
  flex-basis: 30%;
  flex-wrap: nowrap;
}

.container-logo-img {
  display: flex;
  height: 40px;
  width: 40px;
  margin: 5px 20px 5px 20px;
}

.logo-name {
  display: flex;
  margin-top: 10px;
}

.flexbox-container-center {
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  flex-wrap: nowrap;
}

.container-coin-img {
  height: 48px;
  width: 118px;
  margin-top: 5px;
}

.container-data {
}

.flexbox-container-end {
  display: flex;
  justify-content: flex-end;
  flex-basis: 30%;
  flex-wrap: nowrap;
}

.container-language-img {
  height: 17px;
  width: 35px;
  margin-top: 20px;
}
