.sidebar.menu {
  margin: 0 !important;
  padding: 0 !important;
  width: 200px;
  border-right: 3.5px solid black;
}

.sidebar.menu .menu__position {
  margin: 0;
  padding: 0;
}

.sidebar.menu .menu__nav {
  margin: 0;
  padding: 0;
}

.sidebar.menu li {
  border-bottom: 3.5px solid black;
  height: 50px;
  display: flex;
  justify-content: center;
  line-height: 27px;
}

.sidebar.menu a {
  color: black;
  margin: 0;
}
